body {
    display: grid ;
    grid-template-columns: 1fr 250px ;
    grid-template-rows: auto 1fr auto ;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer" ;
    min-height: 100vh ;
}

header { 
    grid-area: header ;
    padding: 1rem ;
}

main {
    grid-area: main ;
    position: relative;
    padding: 1rem ;
    background-image: url('../img/Hintergrund1_bearbeitet.jpg');
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat;
}

.merchant-button {
    background-image: url(../img/Button_300.png);
    background-color: transparent;
    background-size: 100% ;
    background-position: center;
    background-repeat: no-repeat ;
    width: 110px ;
    height: 70px;
    border: none ;
    color: var(--color-text);
}

.blacksmith {
    position: absolute;
    top: 47% ;
    left: 24% ;
}

.alchemist {
    position: absolute;
    top: 47% ;
    left: 78% ;
}

.armourer {
    position: absolute;
    top: 47% ;
    left: 55% ;
}

aside {
    grid-area: aside ;
    background-color: var(--color-panel);
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    gap: 2rem ;
    padding-top: 2rem ;
}

aside button {
    width: fit-content ;
}

footer {
    grid-area: footer ;
    padding: 0 ;
}

/* Responsive Design for Notebooks (screen size: 1920px with scale factor: 0.6) */

@media (max-width: 1536px) {

    main {
        height: 453px ;
        margin-top: auto;
        margin-bottom: auto;
        background-image: url('../img/Hintergrund1_bearbeitet1.jpg');
        background-size: cover ;
        background-position: center ;
        background-repeat: no-repeat;
    }

     .merchant-button {
        width: 65px ;
        height: 37px ;
    }

    .blacksmith {
        font-size: 10px ;
        top: 44% ;
        left: 21% ;
    }

    .alchemist {
        font-size: 10px ;
        top: 44% ;
        left: 79% ;
    }

    .armourer {
        font-size: 10px ;
        top: 44% ;
        left: 55% ;
    }

    aside {
        height: 453px ;
        margin-top: auto;
        margin-bottom: auto;
    }
}