:root {
    /* Colors */
    --color-bg: #000000;
    --color-panel: #3F352D;
    --color-input: #4C443F;
    --color-text: #BDAB9D;
    --color-accent: #9A7F6A ;
}

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center ;
    min-height: 100vh ;
}