:root {
    
    /* Colors */
    --color-bg: #000000;
    --color-panel: #3F352D;
    --color-input: #4C443F;
    --color-text: #BDAB9D;
    --color-accent: #9A7F6A ;
}

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center ;
    min-height: 100vh ;
}

h1 {
    font-size: 3rem ;
    margin: 1rem 0 ;
}

#homeBtn {
    background-image: url(../img/Button_300.png);
    background-color: transparent;
    background-size: 100% ;
    background-position: center;
    background-repeat: no-repeat ;
    width: 110px ;
    border: none ;
    color: var(--color-text);
}

#inventoryBtn {
    background-image: url(../img/Button_300.png);
    background-color: transparent;
    background-size: 100% ;
    background-position: center;
    background-repeat: no-repeat ;
    width: 110px ;
    height: 96px;
    border: none ;
    color: var(--color-text);
}